@charset "UTF-8";


/*ここからHeader*/
header{
    height: 750px;
    width: 100%;
    background-image: url(file:///C:/Users/sasas/OneDrive/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/practice1/img1/main_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.container{
    width: 980px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.header-wrapper{
    position: relative;
}
.header-top a{
    position: absolute;
    top: 15px;
    left: 0;
    transition: all,0.5s;
}
.header-top a:hover{
    opacity: 0.5;
}
.header-middle img{
    position: absolute;
    width: 650px;
    height: 150px;
    top: 90px;
    left: 180px;
}
.header-bottom img{
    position: absolute;
    width: 400px;
    height: 140px;
    top: 350px;
    left: 30px;
} 
.header-wrapper::after{
    content: "";
    background-image: url(https://www.kneipp.jp/lp/yuzu/shared/img/punc1.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*ここからMain*/
.main-bg{
    background-image: url(file:///C:/Users/sasas/OneDrive/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/practice1/img1/bg.jpg);
    background-size: cover;
}

.main-top{
    height: 600px;
    width: 100%;
} 
    
.c01_title{
    width: 400px;
    height: 100px;
    padding: 20px;
}
.charge{
    font-size: 13px;
    padding: 10px;
    margin-bottom: 40px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: #004B4A;
    padding: 12px 110px;
    border-radius: 10px;
    transition: all,0.5s;
}
.btn :hover{
    opacity: 0.7;
}
.btn2 a img{
    height: 60px;
    width: 400px;
    margin-top: 50px;
    transition: all,0.5s;
}
.btn2 a :hover{
    opacity: 0.7;
}
.main-middle1{
    background-image: url(file:///C:/Users/sasas/OneDrive/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/practice1/img1/c02_bg1.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 1100px;
    width: 100%;
    position: relative;
}
.main-middle2{
    background-image: url(file:///C:/Users/sasas/OneDrive/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/practice1/img1/c02_bg2.png);
    background-position: center 100px;
    background-repeat: repeat-y;
}
.main-middle3{
    background-image: url(file:///C:/Users/sasas/OneDrive/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/practice1/img1/c02_bg1.png);
    background-repeat: no-repeat;
    background-position: center top;
    transform: scale(1,-1);
}
.main-middle4{
    transform: scale(1,-1);
}
.main-middle-title img{
    width: 700px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.main-middle-link img{
    width: 450px;
    height: 90px;
}
.main-middle-link a{
    transition: all,0.5s;
}
.main-middle-link a:hover{
    opacity: 0.7;
}
.main-middle-contents{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.main-middle-contents p{
    color: #4BA200;
    font-weight: bold;
    margin: 0em;
}
.main-middle-contents span{
    color: #FFDC05;
}
.rizaruto{
    width: 230px;
    height: 35px;
    transition: all,0.5s;
    margin-top: 20px;
}
.rizaruto:hover{
    opacity: 0.7;
}
.yuzu{
    padding: 10px 50px;
}
.jinnja-{
    padding: 10px 50px;
}
.main-bottom{
    height: auto;
    width: 100%;
    position: relative;
}
.yellow-bg{
    background-image: url(file:///C:/Users/sasas/OneDrive/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/practice1/img1/c03_bg.png);
    background-repeat:no-repeat ;
    background-position: center;
    background-color: #FFD800;
    height: 1250px;
}
.yellow-bg::before{
    content: "";
    display: inline-block;
    background: url(https://www.kneipp.jp/lp/yuzu/shared/img/punc1.png) center bottom repeat-x;
    height: 87px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main-bottom-title img{
    width: 400px;
    height: 45px;
    padding-top: 80px;
}
.bath1{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.bath-left img{
    width: 250px;
    height: 400px;
}
.bath2{
    position: relative;
}
.bath2-left{
    width: 600px;
    height: 250px;
    position: absolute;
    left: 80px;
    top: 50px;
}
.bath2-right{
    position: absolute;
    top: 130px;
    left: 530px;
}
.bath2 a img{
    width: 370px;
    height: 60px;
    border-radius: 5px;
    position: absolute;
    top: 500px;
    left: 270px;
}
.bath2 a{
    transition: all,0.5s;
}
.bath2 a:hover{
    opacity: 0.7;
}
.skin-color-bg{
    background-image: url(file:///C:/Users/sasas/OneDrive/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/practice1/img1/bg.jpg);
    height: 500px;
    position: relative;
}
.skin-color-bg2{
    width: 910px;
    height: 340px;
    background-color: #FBF0BD;
    position: absolute;
    top: 90px;
    background-image :
    linear-gradient(to right, #FFD800, #FFD800 2px, transparent 6px, transparent 20px),
    linear-gradient(to bottom, #FFD800, #FFD800 2px, transparent 6px, transparent 20px),
    linear-gradient(to left, #FFD800, #FFD800 2px, transparent 6px, transparent 20px),
    linear-gradient(to top, #FFD800, #FFD800 2px, transparent 6px, transparent 20px);  
    background-size: 
    15px 4px,
    4px 15px,
    15px 4px,
    4px 15px;         
    background-position: 
    left top,
    right top,
    right bottom,
    left bottom;  
    background-repeat: 
    repeat-x,
    repeat-y,
    repeat-x,
    repeat-y; 
}
.shop-title img{
    width: 710px;
    height: 27px;
    padding-top: 30px;
}
.shop-title h2{
    color: #545454;
    font-size: 20px;
}
.shop-title p{
    color: #545454;
    font-size: 15px;
}
.shop-title span{
    font-size: 13px;
}
.inquiry a img{
    width: 380px;
    height: 60px;
    padding-top: 30px;
    transition: all,0.5s;
}
.inquiry a :hover{
    opacity: 0.5;
}
/*ここからフッター*/
footer{
    background-color: #FFD800;
    height: 260px;
    width: 100%;
    position: relative;
}
.icons{
    display: flex;
    justify-content: flex-end;
}
.icons img{
    width: 220px;
    height: 70px;
    padding-right: 20px;
    transition: all,0.5s;
}
.icons img:hover{
    opacity: 0.6;
}
.policy{
    display: inline-block;
    color: black;
    font-size: 14px;
    padding-top: 20px;
}
.small2{
    color: black;
    font-size: 12px;
}
.position{
    position: absolute;
    top: 50px;
}
